main.exe
main_test.exe
main_test.ll
main_test.obj
main_test.bc
library/windows/build
library/windows/.#win32_c.c

main.pdb

.vscode/settings.json

ols.json

oren.rdbg

data/

.vs/main/v16/

*.nsight-gfxproj

*.ngfx-proj

library/windows/GPATH

library/windows/GRTAGS

library/windows/GTAGS

main.bc

main.ll

main.obj

library/windows/.#win32.cpp

orensblime.sublime-workspace

.vs/main/v15/.suo

.vs/main/v15/Browse.VC.db

main.sln

.vs/main/v15/Browse.VC.opendb

.vscode/tasks.json

orensblime.sublime-project

orensublime.sublime-project

orensublime.sublime-workspace

imgui.ini
game/server/node_modules
*.exp
*.exe
game/game.dll
game/game.lib
game/game.pdb
main.lib
oren.dll
oren.pdb
ptr
*.rdbg
*.pdb
