[submodule "tools/bindgen"]
	path = tools/bindgen
	url = https://github.com/Breush/odin-binding-generator.git
[submodule "library/fmj"]
	path = library/fmj
	url = https://github.com/godratio/FullMetalJacket.git
[submodule "library/cgltf"]
	path = library/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "engine/external/cgltf"]
	path = engine/external/cgltf
	url = https://github.com/sumofat/cgltf_odin.git
[submodule "engine/external/odin_stb"]
	path = engine/external/odin_stb
	url = https://github.com/vassvik/odin-stb.git
[submodule "engine/external/odin-imgui"]
	path = engine/external/odin-imgui
	url = https://github.com/ThisDrunkDane/odin-imgui.git
